#content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding-left: 40px;
}

ul.devices-list {
    width: 98%;
    background: #d2d2d2;
    margin: 0.5em auto;
    border-radius: 7px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.devices-list li {
    height: 50px;
    padding: 5px;
    margin: 0;
}

.devices-list li:nth-child(odd) {
    background: #dddddd;
}

.devices-list img {
    float: left;
    height: 40px;
}

span.device-name {
    float: left;
    margin: 0 20px;
    line-height: 50px;
}

.device-status {
    float: right;
    margin: 0 8px 0 5px;
    line-height: 50px;
}

.flash {
	width: calc(100% - 2em);
    background: #1f8dd6;
    margin: 0.5em auto;
    padding: 0.3em 0.4em 0.3em 0.7em;
    color: white;
    border-radius: 7px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

i.flash-close {
	float: right;
}

.flash-info {
	background: #1f8dd6;
}

.flash-success {
	background: rgb(28, 184, 65);
}

.flash-error {
	background: rgb(202, 60, 60);
}