#content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    padding-left: 20px;
}

ul.devices-list {
    width: 98%;
    background: #d2d2d2;
    margin: 0.5em auto;
    border-radius: 7px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.devices-list li {
    height: 50px;
    padding: 5px;
    margin: 0;
}

.devices-list li:nth-child(odd) {
    background: #dddddd;
}

.devices-list img {
    float: left;
    height: 40px;
    margin-top:3px;
    margin-left:10px;
}

span.device-name {
    float: left;
    margin: 0 20px;
    line-height: 50px;
}

.device-status {
    float: right;
    margin: 0 8px 0 5px;
    line-height: 50px;
}

.flash {
	width: calc(100% - 2em);
    background: #1f8dd6;
    margin: 0.5em auto;
    padding: 0.3em 0.4em 0.3em 0.7em;
    color: white;
    border-radius: 7px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

i.flash-close {
	float: right;
}

.flash-info {
	background: #1f8dd6;
}

.flash-success {
	background: rgb(28, 184, 65);
}

.flash-error {
	background: rgb(202, 60, 60);
}

/* Modal dialogs */
.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 6px;
    background: #d2d2d2;
}