.flash {
	width: calc(100% - 2em);
    background: #1f8dd6;
    margin: 0.5em auto;
    padding: 0.3em 0.4em 0.3em 0.7em;
    color: white;
    border-radius: 7px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

i.flash-close {
	float: right;
}

.flash-info {
	background: #1f8dd6;
}

.flash-success {
	background: rgb(28, 184, 65);
}

.flash-error {
	background: rgb(202, 60, 60);
}