{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block content %}
  <h1>IoTBox Devices</h1>
  <div>
    <ul class="devices-list">
      <li>
        <div>
          <img src="/static/smart_plug_icon.png">
          <span class="device-name">Friendly Name - Non-friendly Name</span>
          <span class="device-status">connected</span>
        </div>
      </li>
      <li>
        <div>
          <img src="/static/smart_plug_icon.png">
          <span class="device-name">Friendly Name - Non-friendly Name</span>
          <span class="device-status">connected</span>
        </div>
      </li>
      <li>
        <div>
          <img src="/static/smart_plug_icon.png">
          <span class="device-name">Friendly Name - Non-friendly Name</span>
          <span class="device-status">connected</span>
        </div>
      </li>
      <li>
        <div>
          <img src="/static/smart_plug_icon.png">
          <span class="device-name">Friendly Name - Non-friendly Name</span>
          <span class="device-status">connected</span>
        </div>
      </li>
      <li>
        <div>
          <img src="/static/smart_plug_icon.png">
          <span class="device-name">Friendly Name - Non-friendly Name</span>
          <span class="device-status">connected</span>
        </div>
      </li>
    </ul>
  </div>    
{% endblock %}