{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block content %}
  <h1>IoTBox Devices</h1>
    <div>
    {% if online_devices|length > 0 %}
      <h2>Online</h2>
      <ul class="devices-list">
        {% for device in online_devices %}
          <li>
            <div>
            <img src="/static/device_icon/{{device.module_type}}.png">
            {% if device.friendly_name is not none %}
              <span class="device-name">{{ device.friendly_name }} - {{ module_names[device.module_type] }}</span>
            {% else %}
              <span class="device-name">{{ module_names[device.module_type] }}</span>
            {% endif %}
            <span href="#onlineModal" class="device-status" onclick="vex.dialog.alert('lets give this a go: {{ device.friendly_name }} is online')"><i class="fa fa-cog" aria-hidden="true"></i></span>
            <span class="device-status device-online">online</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if offline_devices|length > 0 %}
      <h2>Offline</h2>
      <ul class="devices-list">
        {% for device in offline_devices %}
          <li>
            <div>
            <img src="/static/device_icon/{{device.module_type}}.png">
            {% if device.friendly_name is not none %}
              <span class="device-name">{{ device.friendly_name }} - {{ module_names[device.module_type] }}</span>
            {% else %}
              <span class="device-name">{{ module_names[device.module_type] }}</span>
            {% endif %}
            <span href="#offlineModal" class="device-status" onclick="vex.open({unsafeContent: '<iframe id=&quot;modal&quot; src=&quot;https://iot.duality.co.nz/&quot; height=&quot;600&quot; width=&quot;400&quot; style=&quot;position: absolute; top: 0; bottom: 0; left: 0; right: 0; border: 0; z-index: -1&quot;></iframe>'})"><i class="fa fa-cog" aria-hidden="true"></i></span>
            <span class="device-status device-offline">offline</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if not (online_devices|length > 0 or offline_devices|length > 0) %}
      <h2>No associated devices.</h2>
    {% endif %}
  </div>    
{% endblock %}