{% extends "base.html" %}
{% block title %}Password Confirmation{% endblock %}
{% block content %}
  <h1>IoTBox New Password</h1>
  <form class="pure-form pure-form-aligned" method="get">
    <fieldset>
      <div>
      <p>Please fill out the form below to change your password</p>
      </div>
      <div class="pure-control-group">
        <label for="old_password">Old Password</label>
        <input type="text" id="old_password" name="old_password">
        <label for="new_password">New Password</label>
        <input type="text" id="new_password" name="new_password">
        <label for="new_password_check">New Password Confirm</label>
        <input type="text" id="new_password_check" name="new_password_check">
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
      </div>
    </fieldset>
  </form>
{% endblock %}