{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
  <h1>Account Creation</h1>
  <form class="pure-form pure-form-aligned" method="post">
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="hunter@example.com" value="{{ email }}">
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <span class="pure-form-message-inline">Must be at least eight characters long.</span>
      </div>
      <div class="pure-control-group">
        <label for="password_check">Retype Password</label>
        <input type="password" id="password_check" name="password_check">
      </div>
      <div class="pure-controls">
      <label for="terms" class="pure-checkbox">
         <input name="terms" id="terms" type="checkbox" value="true">
         I have read and agree to the <a href="#">Terms and Conditions</a> of
         the service.
         </label>
        <button type="submit" class="pure-button pure-button-primary">Sign Up!</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
