{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
  <h1>Account Creation</h1>
  <form class="pure-form pure-form-aligned" method="post">
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
      </div>
      <div class="pure-control-group">
        <label for="email">Password (8 character minimum):</label>
        <input type="text" id="password" name="password">
      </div>
      <div class="pure-control-group">
        <label for="password">Please re-enter your password:</label>
        <input type="password" id="password_check" name="password_check">
      </div>
 	  <label for="terms" class="pure-checkbox">
        <input id="terms" type="checkbox" value="True">
        I agree
    </label>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
